body{
    background-color:whitesmoke;
}

.vinculos{
    list-style: none;
    background-color: plum;
    width: 95%;
    max-width: 95%;
    font-size: 25px;
    margin: auto; 
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    display: block;
   
}

.vinculos a{
    color: whitesmoke;
    padding: 20px;
    text-decoration: none;
    
    
    
    }
 .vinculos a:hover{
     background-color: white;
     cursor: pointer;
     font-size: 30px;
     color:purple;
 }   

.vinculos li{
    display: inline-block;
    
}

.ntt{
    color: pink;
    font-size: 30px;
    font-family: cursive;
    font-style: bold;
    margin-left: 1050px;
}

.logo{
    display: flex;
    justify-content: center;
}
.Slogan{
    display: flex;
    
    font-family: fantasy;
    color: violet;
    font-weight: bold;
    margin-left: 500px;
    
}
.Menu{
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    color: violet;
}
.PHM{
    display: flex;
    justify-content: center;
    
    
}
.PHM:hover {
    
}

#LFS{
    margin-right: 50px;
    font-family: cursive;
    font-size: 40px;
    color: violet;
    margin-left: 600px; 
}

.mb-3{
    padding-top: 50px;
    margin-inline: 300px;
    padding: 10px;
    display: flex;
    padding-block: 10px;
}

.ff-1{
    color: plum;
    background-color: purple;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.enviar{
    margin-left: 1530px;
}
.enviar:hover{
    size: 140px;
}

#Galeria {
    width: 95%;
    max-width: 95%;
    margin: auto;
    background: purple;
    font-size: 30px; text-align: center;
    color: white;
    
    
}

.Containers > .C1 .C2 {
    background-color:aqua ;
   
}

.C1 > img {
    width: 400px; 
    height: 400px;
 

}

.C1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around
    
}

.C2 > img {
    width: 400px; 
    height: 400px;

}

.C2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around
    
}