body{
    background-color:whitesmoke;
}

.vinculos{
    list-style: none;
    background-color: plum;
    width: 95%;
    max-width: 95%;
    font-size: 25px;
    margin: auto; 
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    
}

.vinculos li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    display: block;
    
    
    }
 .vinculos li a:hover{
     background-color: white;
     cursor: pointer;
 }   

.vinculos li{
    display: inline-block;
    
}



.ntt{
    display: flex;
    justify-content: right;
    color: pink;
    font-size: 30px;
    font-family: cursive;
    font-style: bold;
}

.logo{
    display: flex;
    justify-content: center;
}
.Slogan{
    display: flex;
    flex-direction: end;
    font-family: fantasy;
    color: violet;
    font-weight: bold;
    margin: auto;
    
}
.Menu{
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    color: violet;
}
.PHM{
    display: flex;
    justify-content: center;
}

#LFS{
    display: flex;
    justify-content: center;
    
    margin-right: 50px;
    font-family: cursive;
    font-size: 40px;
    color: violet;
    margin-left: 50px; 
}

.mb-3{
    padding-top: 50px;
    margin-inline: 300px;
    padding: 10px;
    display: flex;
    padding-block: 10px;
}

.ff-1{
    color: plum;
    background-color: purple;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
}